
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Rubik&display=swap');



main {
	padding: 2em;
	color: blue;
	font-family: Rubik;
	font-weight: 500;

}
h1 {
	font-family: Rubik;
	color: red;
}
a{
	color: magenta;
}

ol{
	line-height: 1.5;
	font-size: 20px;
}