
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Rubik&display=swap');



main {
	padding: 2em;
	padding-top: 1em;
	color: blue;
	font-family: Rubik;
	font-weight: 500;
	display: grid;
	grid-template-columns: 1fr 1fr;

}

h1 {
	font-family: Rubik;
	color: red;
	line-height: 1;

}
a{
	color: magenta;
}

ol{
	line-height: 1.5;
	font-size: 20px;

}
#exercises{
	grid-column: 1;
}
#projects{
	grid-column: 2;
}