@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

.container {
	display: grid;
	grid-template-columns: 1fr 0.8fr;
	grid-column-gap: 50px;
	padding: 100px;
	padding-top: 10px;
	margin: auto;
	
}

.content{
	grid-column: 1;
	
}

.image{
	grid-column: 2;
	padding-top: 60px;
	
}


body{
	font-size: 16px;
	font-family: Arimo, Arial, sans-serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
}

h1{
    font-size: 24px;
	margin-top: 3em;
	margin-bottom: 1em;
	font-family: Arimo;
	font-weight: 700;
}
h2{
	font-size:  1em;
}

p, ul{
	margin-bottom: 1em;
}

img{
	max-width: 90%;
	display: block;
	padding-top: 50;
	object-fit: contain;
}


article{
	 /*restrict to 40chars per line*/
	
}



@media screen and (max-width: 900px){
	article{
		max-width: 100%;
	}

	.content{
	grid-column: 1;
}

	img{
	
	display: block;
	padding-top: 50;
	object-fit: contain;
}






