    @font-face {
    font-family: 'Breite Grotesk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Breite Grotesk Regular'), url('assets/Regular.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Hanyi Qihei X2';
    font-style: normal;
    font-weight: 85W;
    src: local('Hanyi Qihei X2'), url('assets/HYQiHeiX2-85W.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Hanyi Qihei X2 75W';
    font-style: normal;
    font-weight: 75W;
    src: local('Hanyi Qihei X2'), url('assets/HYQiHeiX2-75W.woff') format('woff');
    }
    



body {
	background-color: #F1F1F1;
	padding: 20px 100px 50px 100px;

}

header{
	padding: 40px 0px 50px 0px;



}

p {
	color: black;
	font-family: 'Breite Grotesk Regular';
	font-size: 18px;
	line-height: 1.4;
	padding-bottom: 1rem;
	letter-spacing: 0.02em;
	max-width: 40em;
}

h1 {
	display: inline;
	color:  black;
	font-family: 'Hanyi Qihei X2';
	font-weight: 85W;
	font-size: 38px;
	line-height: 1.2;
	margin-top: -10px;
	outline: solid;
	outline-color: #5667FF ;
	outline-width: 2px;

}


h2 {
	color: black;
	font-family: 'Hanyi Qihei X2';
	font-size: 24px;
	font-weight: 85W;
	line-height: 1.2;
	text-decoration: underline;
	text-decoration-color: #5667FF ;
	text-underline-position: under;
}

h3 {

	color: black;
	grid-column: 1;
	font-family: 'Hanyi Qihei X2';
	font-size: 18px;
	font-weight: 85W;
	line-height: 1.2;
}

.highlight{
	color:  white;
	background-color: #5667FF;

}

h5 {
	display: inline;
	grid-column: 1;
	position: relative;
	top: -1px;
	padding: 5px 16px 6px 16px;
	color: white;
	font-family: 'Hanyi Qihei X2 75W';
	font-weight: 75W;
	font-size: 13px;
	letter-spacing: 0em;
	line-height: 1.2;
	background-color: #5667FF;
	
}

h4 {
	display: inline;
	padding: 7px 18px 8px 16px;
	color: black;
	font-family: 'Hanyi Qihei X2 75W';
	font-weight: 75W;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.2;
	outline: solid;
	outline-color: #5667FF ;
	outline-width: 3px;
	
}


#live-text{
	max-height: 60vh;

}
.ocr-title{
	z-index: 0;
	position: relative;
	top: 3px;
	left: -20px;
	padding: 5px 12px 5px 10px;
	font-size: 12px;

}

.container {
	width: 78vw;

}

.section{
	width: 100%;

}

.content{
	display: grid;
	grid-template-columns: 60% 30% ;
	grid-column-gap: 8vw;
	grid-row-gap: 0;

	

}


.content p {	
	grid-column: 1 ;
	
	
}

.text {
	grid-column: 1 ;

}

.side{
	grid-column: 2;
  
	

}

.side img{
	margin-top: 1.2rem;
	grid-column: 2;
	

}


.lists{
	grid-column: 1;
	position: relative;
	top: -1rem;
	left: 0px;
	display: inline-block;
	padding-left: -10em;
}


.titles{
	grid-coloumn: 1;
	display: block;

}

.main-img img{
	display: block;
	grid-column: 1 / 2;
	margin-bottom: 4px;
   max-width: 65vw;
   max-height: auto;
   object-fit: scale-down;
   outline: solid;
   outline-offset: -2px;
	outline-color: mediumspringgreen;
	outline-width: 2px;   
}

.main-img{
	display: block;
	grid-column: 1 / 2;
	margin-top: 1rem;
	margin-bottom: 4rem;
	max-width: auto;

}


.side-img {
	display: block;
	grid-column: 2;	
	margin-bottom: 4px;
   max-width: 100%;
   max-height: 100%;
   object-fit: scale-down;
   outline: solid;
   outline-offset: -2px;
	outline-color: #5667FF;
	outline-width: 2px;


}

img{
	object-fit: scale-down;
}



@media screen and (max-width: 900px){

	p {
		color: black;
		font-family: 'Breite Grotesk Regular';
		font-size: 16.8px;
		line-height: 1.4;
		
		letter-spacing: 0.02em;
		max-width: 40em;
	}

	h1 {
		display: inline;
		color:  black;
		font-family: 'Hanyi Qihei X2';
		font-weight: 85W;
		font-size: 38px;
		line-height: 1.2;
		margin-top: -10px;
		outline: solid;
		outline-color: #5667FF ;
		outline-width: 2px;

	}


	h2 {
		color: black;
		font-family: 'Hanyi Qihei X2';
		font-size: 24px;
		font-weight: 85W;
		line-height: 1.2;
		text-decoration: underline;
		text-decoration-color: #5667FF ;
		text-underline-position: under;
	}

	h3 {

		color: black;
		grid-column: 1;
		font-family: 'Hanyi Qihei X2';
		font-size: 18px;
		font-weight: 85W;
		line-height: 1.2;

	}

	.highlight{
		color:  white;
		background-color: #5667FF;

	}

	h5 {
		display: inline;
		grid-column: 1;
		position: relative;
		top: -4px;
		padding: 2px 12px 4px 12px;
		color: white;
		font-family: 'Hanyi Qihei X2 75W';
		font-weight: 75W;
		font-size: 12px;
		letter-spacing: 0em;
		line-height: 1.2;
		background-color: #5667FF;
		
	}

	h4 {
		display: inline;
		padding: 7px 18px 8px 16px;
		color: black;
		font-family: 'Hanyi Qihei X2 75W';
		font-weight: 75W;
		font-size: 16px;
		letter-spacing: 0em;
		line-height: 1.2;
		outline: solid;
		outline-color: #5667FF ;
		outline-width: 3px;
		
	}



	body {
		background-color: #F1F1F1;
		padding: 2.6rem;

	}

	header{
		padding: 1rem 0px 4rem 0px;

	}

	.container {
		width: 100%;
	

   }

   .section{
	width: 100%;

	}

	
	.content {
		grid-template-columns: 60% 30%;
		grid-column-gap: 6vw;
		grid-row-gap: 1rem;

	}

	content p {	
		grid-column: 1 ;
		
		
	}

	.text {
		grid-column: 1 ;
		
	}

	.side{
		grid-column: 2;
	   
	
	}

	.side img{
		margin-top: 1.2rem;
		grid-column: 2;
		
	}


	.lists{
		grid-column: 1;
		position: relative;
		left: 0px;
		display: inline-block;
		padding-left: -10em;
	}



}

@media screen and (max-width: 640px){



	body {
		background-color: #F1F1F1;
		padding: 2rem;

	}

	header{
		padding: 1rem 0px 4rem 0px;

	}

	.container {
		width: 100%;
	

   }

   .section{
	width: 100%;

	}

	
	.content {
		grid-template-columns: 1fr;
		
		grid-row-gap: 1rem;
	}

	content p {	
		grid-column: 1 ;
		
		
	}

	.text {
		grid-column: 1 ;
		
	}

	.side{

		grid-column: 1;
	  
		

	}

	.side img{
		margin-top: 1.2rem;
		grid-column: 1;

	}


	.lists{
		grid-column: 1;
		position: relative;
		left: 0px;
		display: inline-block;
		padding-left: -10em;
	}



}






