*{
	margin: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: "OC2-3";
	src: url('OCl2-l3-Variable.ttf') format('truetype-variations');
}

body{
	font-size: 20px;
	font-family: OC2-3, sans;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	font-variation-settings: 'leet' 0;
	transition: all 600ms linear;
}

h1,h2,h3,h4,h5{
	font-weight: normal;
}
h1{
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 80px;
	line-height: 1.5;
	/*transition: font-variation-settings 400ms;*/
	/*animation: width-animation 1s infinite alternate;*/
}

h2{
	font-family: OC2-3, sans-serif;
	margin-bottom: 1em;
}
/*h1:hover{
	font-variation-settings: 'wdth' 150;
}*/

@keyframes width-animation {
	from{
		font-variation-settings: 'leet' 0;
	}
	to{
		font-variation-settings: 'leet' 200;
	}
} 

h2{
	font-size:  2em;
}

p, ul{
	font-size: 26px;
	margin-bottom: 1em;
	line-height: 1.6;
}

article{
	max-width: 1200px;
	width: 60%;
	margin: auto;
}


.darkmode{
	background: black;
	color: white;
	font-variation-settings: 'leet' 150;
}

.darkmode h1{
	color: red;
}
